body {
  font-family: "Poppins", sans-serif;
  background-image: url("./images/backg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  margin: auto;
  height: 538px;
}
.main_class {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid 2px black; */
}
.importpage_head {
  text-align: center;
  width: 89%;
}
.importpage_paragraph {
  /* border: solid; */
  width: 83%;
  text-align: center;
  font-size: 12px;
}
.importpage_paragraph p {
  line-height: 22px;
}
.importpage_input {
  width: 100%;
  height: 180px;
  /* border: solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.importpage_input input {
  width: 89%;
  height: 130px;
  border: none;
  background-color: #efefef;
  border-radius: 10px;
}
.importpage_btn {
  width: 100%;
  height: 32px;
  /* border: solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.importpage_btn button {
  text-align: center;
  height: 45px;
  border-radius: 6px;
  background-color: #9e38c3;
  color: white;
  font-size: 16px;
  font-weight: 400;
  width: 85%;
  border: none;
}
