@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&family=Roboto:wght@400;500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    max-width: 690px;
    margin: auto;
}
a {
  font-size: 1rem;
  text-decoration: none;
  color: #111;
}