@media (min-width: 310px) and (max-width: 690px) {
  body {
    font-family: "Poppins", sans-serif;
    background-image: url("../images/1st\ b\ 2_1.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    margin: auto;
    height: 538px;
    border: solid;
  }
}
